.card-front{
    background:white;
    color:#2a5298;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    font-weight:bold;
    font-family: 'Arial Black', sans-serif;
}